/*
 * typeid selectors are only relevant to SpiceBird
 */

#zindus-toolbarbutton,
[typeid="zindus-toolbarbutton"] {
	list-style-image: url("chrome://zindus/skin/zindus24x24-tmp.gif");
}

toolbar[iconsize="small"] #zindus-toolbarbutton,
toolbar[iconsize="small"] [type-id="zindus-toolbarbutton"] {
	list-style-image: url("chrome://zindus/skin/zindus16x16.gif");
}

.zindus-statusbar-width {
	width: 15em;
}

.zindus-statusbar-opacity {
	opacity: .20;
}

.zindus-grid {
	margin-left:10px;
	margin-right:20px;
	margin-top:10px;
}

.zindus-spacer {
	height:15px;
}

.zindus-enclosing-vbox {
	margin: 10px;
}

.hint {
	font-size: 95%;
}
